$numRings: 10;
$colorSteps: 250 / $numRings;

body{
  margin: 0;
  padding: 0;
}
svg {
  width: 100vw;
  height: 100vh;
}
circle, path {
  fill: none;
  stroke: black;
  // animation: rotate 10s infinite linear;
}
path {
  transform: rotate(-90deg) translate(-50vh, 50vw);
}
// @for $i from 1 through $numRings {
//   path, circle {
//     &:nth-child(#{$i}) {
//       stroke: hsla($i*$colorSteps,100%,50%,1);
//     }
//   }
// }
line {
  stroke: black;
  transition: stroke-dashoffset 1s;
  transform-origin: 50% 50%;
  // animation: rotate 2s infinite linear;
}

.finish {
  stroke-dashArray: 10 100;
}
input[type=range]{
  width: 100%;
}

@keyframes rotate{
  100%{ transform: rotate(360deg)}
}

.controls {
  display: flex;
}